
:root {
    --border-color: #324f6b;
    --border-bottom-color-link: #68829b;

    @keyframes border__link {
        from {
            border-bottom: 1px solid #68829b;
        }

        to {
            border-bottom: 1px solid #fdfdfd;
        }
    }
}

.footer {
    margin-top: 250px;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #466684;

    @media only screen and (max-width: 393px) {
        height: 1100px;
    }

    @media only screen and (max-width: 337px) {
        height: 1300px;
    }

    .container-top {
        width: 100%;
        height: 25%;
        display: grid;
        grid-template: 100% / 3% 93.6% 3%;
        grid-auto-flow: row;
        justify-content: space-between;

        @media only screen and (max-width: 393px) {
            width: 100%;
            height: 30%;
            display: grid;
            grid-template: 100% / 3% 93.6% 3%;
        }

        @media only screen and (max-width: 337px) {
            height: 35%;
        }

        .space-top-left {
            display: inline-block;
            border-right: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
        }

        .container-top-center {
            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);

            .container-top-center-content {
                width: 100%;
                height: 100%;
                display: inline-block;
                
                .container-top-center-content__headline {
                    margin-top: 30px;
                    color: #e7ebef;
                    font-size: 2.3rem;
                    font-family: cursive;
                    line-height: 3rem;
                    text-align: center;

                    @media only screen and (max-width: 500px) {
                        font-size: 2rem;
                    }

                    @media only screen and (max-width: 462px) {
                        font-size: 1.7rem;
                    }
                }

                .container-top-center-content__email {
                    display: inline-block;
                    padding-left: 10px;
                    height: 40px;
                    width: 200px;
                    background-color: #324f6b;
                    outline: none;
                    color: #CED5DC;
                    font-size: 1.3rem;

                    &::placeholder {
                        color: #CED5DC;
                        font-size: 1.2rem;

                        @media only screen and (max-width: 337px) {
                            font-size: 1.1rem;
                        }
                    }

                    @media only screen and (min-width: 337px) {
                        margin-top: 50px;
                        margin-left: calc(50% - 300px/2);
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                        border-top: 2px solid #2D4862;
                        border-left: 2px solid #2D4862;
                        border-bottom: 2px solid #2D4862;
                    }

                    @media only screen and (max-width: 337px) {
                        display: block;
                        margin-top: 30px;
                        margin-left: calc(50% - 102px);
                        border-radius: 6px;
                        border: 2px solid #2D4862;
                    }
                }

                .container-top-center-content__send-email {
                    display: inline-block;
                    height: 45.5px;
                    width: 100px;
                    font-size: 0.9rem;
                    color: #DAE6F1;
                    border: 1px solid #2D4862;
                    background-color: #2D4862;

                    @media only screen and (min-width: 337px) {
                        position: absolute;
                        z-index: 2;
                        margin-left: -4px;
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                        margin-top: 50px;
                    }

                    @media only screen and (max-width: 337px) {
                        display: block;
                        margin-left: calc(50% - 51px);
                        border-radius: 6px;
                        margin-top: 15px;
                    }
                }
            }
        }

        .space-top-right {
            display: inline-block;
            border-bottom: 1px solid var(--border-color);
        }
    }

    .container-bottom {
        width: 100%;
        height: 75%;
        display: grid;
        grid-template: 100% / 3% 93.6% 3%;
        grid-auto-flow: column;
        justify-content: space-between;

        @media only screen and (max-width: 393px) {
            height: 70%;
        }

        @media only screen and (max-width: 337px) {
            height: 65%;
        }

        .space-bottom-left {
            display: inline-block;
            border-right: 1px solid var(--border-color);
        }

        .container-bottom-center {
            display: inline-flex;
            flex-flow: column;
            border-left: 1px solid var(--border-color);

            .container-bottom-center-emergence {
                margin-top: 50px;
                margin-left: 20px;

                p > span > a,
                p > a {
                    text-decoration: none;

                    &:hover {
                        animation: border__link 0.5s ease-in 0.1ms forwards;
                    }
                }

                .container-bottom-center-emergence__headline {
                    width: 70%;
                    font-size: 2.5rem;
                    font-family: Playfair Display, serif;
                    line-height: 3.3rem;
                    color: #dae6f1;

                    @media only screen and (max-width: 500px) {
                        font-size: 1.6rem;
                        width: 80%;
                    }

                    @media only screen and (max-width: 312px) {
                        line-height: 2.5rem;
                    }
                }

                .container-bottom-center-emergence__about {
                    margin-top: 40px;

                    .container-bottom-center-emergence__portfolio {
                        margin-right: 7px;

                        .container-bottom-center-emergence__portfolio__link {
                            color: #fdf5ee;
                            font-family: Karla;
                            padding-bottom: 3px;
                            border-bottom: 1px solid var(--border-bottom-color-link);
                        }
                    }

                    .container-bottom-center-emergence__thoughts {
                        margin-right: 7px;

                        .container-bottom-center-emergence__thoughts__link {
                            color: #fdf5ee;
                            font-family: Karla;
                            padding-bottom: 3px;
                            border-bottom: 1px solid var(--border-bottom-color-link);
                        }
                    }

                    .container-bottom-center-emergence__press {
                        margin-right: 7px;

                        .container-bottom-center-emergence__press__link {
                            color: #fdf5ee;
                            font-family: Karla;
                            padding-bottom: 3px;
                            border-bottom: 1px solid var(--border-bottom-color-link);
                        }
                    }

                    .container-bottom-center-emergence__about {
                        margin-right: 7px;

                        .container-bottom-center-emergence__about__link {
                            color: #fdf5ee;
                            font-family: Karla;
                            padding-bottom: 3px;
                            border-bottom: 1px solid var(--border-bottom-color-link);
                        }
                    }

                    .container-bottom-center-emergence__talent {

                        .container-bottom-center-emergence__talent__link {
                            color: #fdf5ee;
                            font-family: Karla;
                            padding-bottom: 3px;
                            border-bottom: 1px solid var(--border-bottom-color-link);
                        }
                    }
                }

                .container-bottom-center-emergence__rules {
                    margin-top: 20px;

                    .container-bottom-center-emergence__rules__privacy {
                        margin-right: 7px;

                        .container-bottom-center-emergence__rules__privacy__link {
                            color: #fdf5ee;
                            font-family: Karla;
                            padding-bottom: 4px;
                            border-bottom: 1px solid var(--border-bottom-color-link);
                        }
                    }

                    .container-bottom-center-emergence__rules__terms {

                        .container-bottom-center-emergence__rules__terms__link {
                            color: #fdf5ee;
                            font-family: Karla;
                            padding-bottom: 4px;
                            border-bottom: 1px solid var(--border-bottom-color-link);
                        }
                    }

                }

                .container-bottom-center-emergence__login {
                    margin-top: 25px;

                    .container-bottom-center-emergence__login__link {
                        color: #99cebe;
                        font-weight: 700;
                        font-family: Karla;
                        padding-bottom: 4px;
                        border-bottom: 1px solid var(--border-bottom-color-link);
                    }
                }
            }

            .container-bottom-center-contact {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                margin-top: 60px;

                .container-bottom-center-contact__headline {
                    display: flex;
                    padding-right: 40px;
                    font-size: 1.1rem;
                    font-weight: 700;
                    font-family: serif;
                    color: #e4fff9;
                    letter-spacing: 0.2rem;
                }

                .container-bottom-center-contact-contacts {
                    margin-top: 20px;
                    .container-bottom-center-contact-contacts__phone-text {
                        font-size: 1.2rem;
                        font-weight: 400;
                        font-family: Karla;
                        color: #e4fff9;
                    }

                    .container-bottom-center-contact-contacts__phone {
                        margin-top: 7px;
                        font-size: 1.2rem;
                        font-weight: 300;
                        font-family: Karla;
                        color: #e4fff9;
                    }

                    .container-bottom-center-contact-contacts__invest {
                        margin-top: 25px;
                        font-size: 1.2rem;
                        font-weight: 400;
                        font-family: Karla;
                        color: #e4fff9;
                    }

                    .container-bottom-center-contact-contacts__contact-us {
                        margin-top: 7px;

                        .container-bottom-center-contact-contacts__contact-us__link {
                            padding-bottom: 3px;
                            font-weight: 300;
                            font-family: Karla;
                            color: #e4fff9;
                            text-decoration: none;
                            border-bottom: 1px solid var(--border-bottom-color-link);

                            &:hover {
                                animation: border__link .5s ease-in forwards;
                            }
                        }
                    }

                    .container-bottom-center-contact-contacts__social {
                        margin-top: 25px;
                        font-size: 1.2rem;
                        font-weight: 400;
                        font-family: Karla;
                        color: #e4fff9;
                    }

                    .container-bottom-center-contact-contacts__social-media {
                        margin-top: 5px;

                        .container-bottom-center-contact-contacts__social-media__twitter {
                            margin-right: 10px;

                            .container-bottom-center-contact-contacts__social-media__twitter__link {
                                text-decoration: none;
                                font-size: 1rem;
                                font-weight: 300;
                                font-family: Karla;
                                color: #e4fff9;
                                padding-bottom: 3px;
                                border-bottom: 1px solid var(--border-bottom-color-link);

                                &:hover {
                                    animation: border__link .5s ease-in forwards;
                                }
                            }
                        }

                        .container-bottom-center-contact-contacts__social-media__linkedin {

                            .container-bottom-center-contact-contacts__social-media__linkedin__link {
                                text-decoration: none;
                                font-size: 1rem;
                                font-weight: 300;
                                font-family: Karla;
                                color: #e4fff9;
                                padding-bottom: 3px;
                                border-bottom: 1px solid var(--border-bottom-color-link);

                                &:hover {
                                    animation: border__link .5s ease-in forwards;
                                }
                            }
                        }
                    }
                }
            }

            .container-bottom-center-office {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                margin-top: 50px;

                .container-bottom-center-office__headline {
                    display: flex;
                    font-size: 1.1rem;
                    font-weight: 700;
                    font-family: serif;
                    color: #e4fff9;
                    letter-spacing: 0.2rem;
                }

                .container-bottom-center-office-text {
                    display: flex;
                    flex-direction: column;

                    .container-bottom-center-office-text__emergence {
                        margin-top: 10px;
                        font-size: 1.09rem;
                        font-weight: 400;
                        font-family: Karla;
                        color: #e4fff9;
                    }
    
                    .container-bottom-center-office-text__location {
                        margin-top: 5px;
                        font-size: 1.09rem;
                        font-weight: 400;
                        color: #e4fff9;
                    }
                }

            }
        }
    }
}