.thoughts-flex-container {
  width: 94%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 894px) {
  .thoughts-flex-container {
    margin-top: 3200px;
  }
}
.thoughts-flex-container .thoughts {
  height: 530px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}
.thoughts-flex-container .thoughts .thoughts__headline {
  font-size: 2rem;
  font-weight: 400;
  font-family: Karla, cursive;
  color: #41424a;
}
@media only screen and (max-width: 1350px) {
  .thoughts-flex-container .thoughts .thoughts__headline {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 525px) {
  .thoughts-flex-container .thoughts .thoughts__headline {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 515px) {
  .thoughts-flex-container .thoughts .thoughts__headline {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 300px) {
  .thoughts-flex-container .thoughts .thoughts__headline {
    margin-left: 10px;
  }
}
.thoughts-flex-container .thoughts .thoughts-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1350px) and (min-width: 1070px) {
  .thoughts-flex-container .thoughts .thoughts-block {
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 1070px) {
  .thoughts-flex-container .thoughts .thoughts-block {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .thoughts-flex-container .thoughts .thoughts-block {
    width: 95%;
  }
}
@media only screen and (max-width: 525px) {
  .thoughts-flex-container .thoughts .thoughts-block {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 345px) {
  .thoughts-flex-container .thoughts .thoughts-block {
    width: 90%;
  }
}
@media only screen and (max-width: 300px) {
  .thoughts-flex-container .thoughts .thoughts-block {
    margin-left: 10px;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
  margin-top: 50px;
  display: inline-grid;
}
@media only screen and (max-width: 1070px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
    display: grid;
    grid-template: 90px 1fr/725px;
    width: 100%;
    border-bottom: 0.3px solid rgba(229, 116, 93, 0.37);
    padding-bottom: 42px;
  }
}
@media only screen and (max-width: 790px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
    display: grid;
    grid-template: 155px 1fr/525px;
  }
}
@media only screen and (max-width: 686px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
    display: grid;
    grid-template: 75px 1fr/525px;
  }
}
@media only screen and (max-width: 600px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
    display: grid;
    grid-template: 75px 1fr/450px;
  }
}
@media only screen and (max-width: 515px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
    display: grid;
    grid-template: 70px 1fr/450px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 505px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
    display: grid;
    grid-template: 70px 1fr/365px;
  }
}
@media only screen and (max-width: 405px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
    margin-top: 10px;
    display: grid;
    grid-template: 90px 1fr/320px;
  }
}
@media only screen and (max-width: 350px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left {
    margin-top: 25px;
    display: grid;
    grid-template: 90px 1fr/210px;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline {
  width: 400px;
  font-size: 3rem;
  font-weight: 500;
  font-family: cursive;
  line-height: 4.5rem;
}
@media only screen and (max-width: 1070px) and (min-width: 1069px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline {
    width: 100%;
    height: 67px;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1070px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline {
    width: 100%;
  }
}
@media only screen and (max-width: 686px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline {
    font-size: 1.9rem;
    width: 458px;
  }
}
@media only screen and (max-width: 515px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline {
    font-size: 1.5rem;
    width: 362px;
  }
}
@media only screen and (max-width: 405px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline {
    font-size: 2.5rem;
    line-height: 2.2rem;
    width: 303px;
  }
}
@media only screen and (max-width: 350px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline {
    font-size: 1.3rem;
    width: 210px;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline .thoughts-left__headline__link {
  text-decoration: none;
  color: #41424a;
  transition: all 1.1s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left__headline .thoughts-left__headline__link:hover {
  color: #e5745d;
  transition: all 1.1s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
@media only screen and (max-width: 515px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human {
    width: 206px;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human__image {
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100px;
  height: 100px;
}
@media only screen and (max-width: 1069px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human__image {
    display: none;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human-info {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
@media only screen and (min-width: 1070px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human-info {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1069px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human-info {
    margin-top: -20px;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human-info .thoughts-left-human-info__name .thoughts-left-human-info__name__link {
  text-decoration: none;
  color: #41424a;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.5s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human-info .thoughts-left-human-info__name .thoughts-left-human-info__name__link:hover {
  transition: all 0.5s ease;
  color: #e5745d;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human-info .thoughts-left-human-info__for-founders {
  width: 95px;
  margin-top: 5px;
  padding-bottom: 2px;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human-info .thoughts-left-human-info__for-founders .thoughts-left-human-info__for-founders__link {
  text-decoration: none;
  color: #41424a;
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.5s ease;
  border-bottom: 0.5px solid #41424a;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-left .thoughts-left-human .thoughts-left-human-info .thoughts-left-human-info__for-founders .thoughts-left-human-info__for-founders__link:hover {
  border-bottom: 0.5px solid #e5745d;
  transition: all 0.5s ease;
  color: #e5745d;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right {
  display: grid;
  width: 100%;
  vertical-align: top;
}
@media only screen and (max-width: 1070px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right {
    display: block;
    width: 100%;
    padding-top: 42px;
    border-top: 0.3px solid rgba(229, 116, 93, 0.37);
    margin-top: 2px;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top {
  padding-bottom: 42px;
  border-bottom: 0.3px solid rgba(229, 116, 93, 0.37);
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline {
  font-size: 2.2rem;
  font-family: Karla, cursive;
  font-weight: 300;
  line-height: 45px;
}
@media only screen and (max-width: 1069px) and (min-width: 962px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
@media only screen and (max-width: 962px) and (min-width: 686px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 686px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline {
    font-size: 1.7rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 450px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline {
    font-size: 1.1rem;
    line-height: 1rem;
    width: 293px;
  }
}
@media only screen and (max-width: 345px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline {
    width: 270px;
  }
}
@media only screen and (max-width: 295px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline {
    line-height: 1.1rem;
    width: 100%;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline .thoughts-right-top__headline__link {
  text-decoration: none;
  color: #41424a;
  transition: all 0.5s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top__headline .thoughts-right-top__headline__link:hover {
  border-bottom: 0.5px solid #e5745d;
  transition: all 0.5s ease;
  color: #e5745d;
  border: none;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists {
  width: 310px;
  margin-top: 30px;
  margin-left: 3px;
  list-style-type: none;
}
@media only screen and (max-width: 367px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists {
    width: 90%;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-gordon {
  font-size: 1.1rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}
@media only screen and (max-width: 275px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-gordon {
    width: 100%;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-gordon .thoughts-right-top-lists-gordon__link {
  text-decoration: none;
  color: #41424a;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-gordon .thoughts-right-top-lists-gordon__link:hover {
  transition: all 0.5s ease;
  color: #e5745d;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-gordon .thoughts-right-top-lists-gordon__link:hover .thoughts-right-top-lists-gordon__link__bold {
  transition: all 0.5s ease;
  color: #e5745d;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-gordon .thoughts-right-top-lists-gordon__link .thoughts-right-top-lists-gordon__link__bold {
  font-weight: 900;
  color: #000000;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-jake {
  margin-top: 5px;
  list-style-type: none;
  font-size: 1.1rem;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-jake .thoughts-right-top-lists-jake__link {
  color: #41424a;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-jake .thoughts-right-top-lists-jake__link:hover {
  transition: all 0.5s ease;
  color: #e5745d;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-jake .thoughts-right-top-lists-jake__link:hover .thoughts-right-top-lists-jake__link__bold {
  transition: all 0.5s ease;
  color: #e5745d;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-jake .thoughts-right-top-lists-jake__link .thoughts-right-top-lists-jake__link__bold {
  font-weight: 900;
  color: #000000;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-conviction {
  width: 123px;
  padding-bottom: 3px;
  margin-top: 5px;
  list-style-type: none;
  font-size: 1.1rem;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-conviction .thoughts-right-top-lists-conviction__link {
  color: #41424a;
  text-decoration: none;
  border-bottom: 0.5px solid rgba(65, 66, 74, 0.4);
  transition: all 0.5s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-top .thoughts-right-top-lists .thoughts-right-top-lists-conviction .thoughts-right-top-lists-conviction__link:hover {
  border-bottom: 0.5px solid #e5745d;
  transition: all 0.5s ease;
  color: #e5745d;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom {
  margin-top: 1px;
  padding-top: 42px;
  border-top: 0.3px solid rgba(229, 116, 93, 0.37);
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom__headline {
  font-size: 2.1rem;
  font-family: Karla;
}
@media only screen and (max-width: 1070px) and (min-width: 686px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom__headline {
    width: 620px;
  }
}
@media only screen and (max-width: 686px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom__headline {
    font-weight: 500;
  }
}
@media only screen and (max-width: 375px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom__headline {
    width: 223px;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom__headline .thoughts-right-bottom__headline__link {
  text-decoration: none;
  color: #41424a;
  transition: all 0.5s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom__headline .thoughts-right-bottom__headline__link:hover {
  transition: all 0.5s ease;
  color: #e5745d;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists {
  margin-top: 30px;
  width: 308px;
}
@media only screen and (max-width: 330px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists {
    width: 100%;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-gordon {
  width: 250px;
  margin-top: 5px;
  list-style-type: none;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  color: #41424a;
}
@media only screen and (max-width: 275px) {
  .thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-gordon {
    width: 100%;
  }
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-gordon:hover {
  color: #e5745d;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-gordon:hover .thoughts-right-bottom-lists-gordon__link {
  transition: all 0.5s ease;
  color: #e5745d;
  text-decoration: none;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-gordon:hover .thoughts-right-bottom-lists-gordon__link .thoughts-right-bottom-lists-gordon__link__bold {
  color: #e5745d;
  transition: all 0.5s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-gordon .thoughts-right-bottom-lists-gordon__link {
  text-decoration: none;
  color: #41424a;
  transition: all 0.5s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-gordon .thoughts-right-bottom-lists-gordon__link .thoughts-right-bottom-lists-gordon__link__bold {
  font-weight: 900;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-conviction {
  width: 123px;
  padding-bottom: 3px;
  margin-top: 5px;
  list-style-type: none;
  font-size: 1.1rem;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-conviction .thoughts-right-bottom-lists-conviction__link {
  color: #41424a;
  text-decoration: none;
  border-bottom: 0.5px solid rgba(65, 66, 74, 0.4);
  transition: all 0.5s ease;
}
.thoughts-flex-container .thoughts .thoughts-block .thoughts-right .thoughts-right-bottom .thoughts-right-bottom-lists .thoughts-right-bottom-lists-conviction .thoughts-right-bottom-lists-conviction__link:hover {
  border-bottom: 0.5px solid #e5745d;
  transition: all 0.5s ease;
  color: #e5745d;
  text-decoration: none;
}/*# sourceMappingURL=thoughts.css.map */